absl-py
accelerate
aniso8601
annotated-types
anyio
appnope
archspec
asttokens
astunparse
attrs
beautifulsoup4
bidict
blinker
boltons
Bottleneck
Brotli
certifi
cffi
charset-normalizer
click
cohere
comm
contourpy
cryptography
cycler
debugpy
decorator
deprecation
dill
distro
dnspython
docling
docling-core
docling-ibm-models
docling-parse
easyocr
et-xmlfile
exceptiongroup
executing
fastavro
filelock
filetype
Flask
Flask-PyMongo
Flask-RESTful
Flask-SocketIO
flatbuffers
fonttools
frozendict
fsspec
gast
google-pasta
grpcio
gunicorn
h11
h5py
hf-xet
httpcore
httpx
httpx-sse
huggingface-hub
idna
imageio
importlib_metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
jiter
joblib
jsonlines
jsonpatch
jsonpointer
jsonref
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
keyboard
kiwisolver
lancedb
langchain
langchain-core
langchain-ollama
langchain-text-splitters
langsmith
latex2mathml
lazy_loader
libclang
lxml
Markdown
markdown-it-py
marko
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
MouseInfo
mpire
mpmath
multiprocess
namex
nest_asyncio
networkx
ninja
numexpr
numpy
ollama
openai
opencv-python-headless
openpyxl
opt_einsum
optree
orjson
overrides
packaging
pandas
parso
pexpect
pickleshare
pillow
platformdirs
pluggy
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pyarrow
PyAutoGUI
pyclipper
pycosat
pycparser
pydantic
pydantic-settings
pydantic_core
PyGetWindow
Pygments
pylatexenc
pymongo
PyMsgBox
pyparsing
pypdfium2
pyperclip
PyRect
PyScreeze
PySocks
python-bidi
python-dateutil
python-docx
python-dotenv
python-engineio
python-pptx
python-socketio
pytweening
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-toolbelt
rich
rpds-py
rtree
ruamel.yaml
rubicon-objc
safetensors
scikit-image
scikit-learn
scipy
seaborn
semchunk
setuptools
shapely
shellingham
simple-websocket
six
sniffio
soupsieve
SQLAlchemy
stack-data
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-hub
termcolor
tf_keras
threadpoolctl
tifffile
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
truststore
typer
types-requests
typing-inspection
typing_extensions
tzdata
unicodedata2
urllib3
wcwidth
Werkzeug
wheel
wrapt
wsproto
xlsxwriter
zipp
zstandard
